*, *:before, *:after{
  box-sizing:border-box;
}

a, a:hover, a:focus, a:active {
  text-decoration: none;
}

input:focus, a:focus, a:active {
  outline: none;
}

img{
  max-width: 100%;
  height: auto;
  display: block;
}

svg {
  width: 100%;
}

.labWrapper{
  max-width: 768px;
  margin-right: auto;
  margin-left: auto;
  transition: all 0.5s ease;
  overflow: hidden;
}
