$base-font-size: 1rem;
$base-line-height: 1.5;
$font-xxl: 50px;
$font-xl: 44px;
$font-l: 30px;
$font-m: 25px;
$font-ms: 22px;
$font-s: 12px;
$font-xs: 8px;


body,
html {
  font-size: $base-font-size;
  line-height: $base-line-height;
  font-family: "Microsoft JhengHei", "微軟正黑體", sans-serif;
}


.h3 {
  font-size: 32px;
}
