
.e-btn {
  /* Structure */
  display: inline-block;
  zoom: 1;
  line-height: normal;
  white-space: nowrap;
  vertical-align: middle;
  text-align: center;
  cursor: pointer;
  -webkit-user-drag: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  box-sizing: border-box;
}

/* Firefox: Get rid of the inner focus border */
.e-btn::-moz-focus-inner {
  padding: 0;
  border: 0;
}

/* Inherit .pure-g styles */
.e-btn-group {
  letter-spacing: -0.31em; /* Webkit: collapse white-space between units */
  *letter-spacing: normal; /* reset IE < 8 */
  *word-spacing: -0.43em; /* IE < 8: collapse white-space between units */
  text-rendering: optimizespeed; /* Webkit: fixes text-rendering: optimizeLegibility */
}

.opera-only :-o-prefocus,
.e-btn-group {
  word-spacing: -0.43em;
}

.e-btn-group .e-btn {
  letter-spacing: normal;
  word-spacing: normal;
  vertical-align: top;
  text-rendering: auto;
}

// lancome style

.lancome-btn__link {
  font-family: "Microsoft JhengHei", "微軟正黑體", sans-serif;
  color: #fff;
  background: #000;
  text-align: center;
  padding: 0.7rem 3.5rem;
  display: inline-block;
  font-size: $font-s;
  letter-spacing: 0.1em;
  border: 1px solid #000;
  box-shadow: 0 0 10px #fff;
  &--active {
    transition: all 0.5s ease;
    overflow: hidden;
    position: relative;
    &:hover {
      transform: scale(0.95);
      background: #fff;
      color: #000;
    }
  }

  @include l-767 {
    font-size: $font-s - 0.2;
  }
  @include l-320{
    padding: 0.7rem 2.5rem;
  }
}
